$liturEitt: cyan;                            
$liturTvo: tomato;                         
$strengur: "flottur texti!";   
$leturst: 2em;
$letur: monospace;                          
$rammi: 2px solid $liturEitt;          
$padding: 1em;
$breidd: 60em;

$hvadaLitur: raudur;